
        *{
            padding: 0;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        body{
            background-image: url(https://img.freepik.com/vetores-gratis/fundo-branco-com-desenho-de-padrao-de-linha-hexagonal_1017-28442.jpg?size=626&ext=jpg);
            background-size: cover;
        }
        #header{
            display: flex;
            justify-content: center;
            margin: 20px;
            padding: 20px;
            border-radius: 100px;
            background-color: rgba(148, 148, 250, 0.589);
        }
        #header img {
            padding: 20px;
            width: 50px;
            height: 50px;
        }
        ul {
            display: flex;
            list-style: none;
        }
        a {
            font-weight: bold;
            margin: 10px;
            color: #222;
            text-decoration: none;
        }
        section{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 50px 120px;
        }
        section h1{
            margin-bottom: 50px;
        }
        #areaPostagem{
            background-color: #EEE;
            border-radius: 20px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #areaPostagem img {
            margin: 40px;
            width: 300px;
            height: 300px;
        }

        footer{
            width: 98vw;
            display: flex;
            justify-content: center;
        }
        footer p {
            margin: 20px;
        }